
#container{
	height: 3300px;
	font-family: Courier;
	background-image: url(./images/background1.png);
	background-size: 100px;



}
#header{

		height:120px;
		background-image: url(./images/header.png);
		background-size: 100%;
		background-repeat: no-repeat;
		text-align: center;	
		padding-top: 13px;
		color: #EEEAE8;
		font-weight: bold;
		font-size: 80px;

}

#navibar{
		height: 100px;
		background-color: white;
		margin-bottom: 20px;
		text-align: center;
		padding-top: 17px;

}

.navilist{
		display: inline;
		font-size: 20px;
		font-weight: bold;
		padding-top: 10px;
		text-align: center;
		text-decoration: none;
}

a{
		text-decoration: none;
		top: -5px;
		color: #46372D;
}

a:hover{
		 position: relative; 
         color: #E9802F;
}

#contents{
		margin-bottom: 300px;
		text-align: center;
		margin-right: auto;
		margin-left: auto;

}

#sidemenu{
		width: 290px;
		position: fixed;
		float: left;
		text-align: center;
}

.sidemenulist{
		display: block;
		text-decoration: none;
		text-align: left;
		padding-top: 20px;
		font-weight: bold;
		font-size: 20px;
}

#main{
		width: 1200px;
		float: right;
		text-align: center;
}

#Topimage{
		width: 800px;
		height: 400px;
		border: solid 5px #46372D;
		background-image: url(./images/Toprosetta.jpg);
		background-size: 112%;
		background-repeat: no-repeat;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 30px;
}

article{
		width: 400px;
		height: 550px;
		float: left; 
		margin-bottom: 60px;
		text-align: center;
		padding-left: 25px;
		padding-right: 25px;
		margin-left: 65px;
		border: solid 3px #46372D;

}

#footer{
		height: 100px;
		background-image: url(./images/header.png);
		background-size: 130%;
		background-repeat: no-repeat;
		color: white;
		clear: both;
		text-align: center;
		margin-top: 400px;
}

.footerlist{
		display: inline;
		text-align: center;
		margin-top: 40px;
		padding-right: 20px;
		padding-left: 20px;
		font-size: 24px;
		text-decoration: none;
		font-weight: bold;
}
p{
	 	padding-top: 10px;
	 	padding-right: auto;
	 	padding-left: auto;
	 	text-align: left;
	 	font-size: 18px;

}

h1{
		font-weight: bold;
		font-size: 35px;
		color: #46372D;
}

h3{		
		font-weight: bold;
		font-size: 30px;

}


h4{		
		color: #46372D;
		font-weight: bold;
		font-size: 50px;
		text-align: center;
		text-shadow: 2px 2px #EEEAE8;
		padding-top:70px;

}

h5{
		font-weight: bolder;
		font-size: 27px;
		text-align: center;
		text-shadow: #EEEAE8;
		color: #46372D;
}

hr{
		border: 0; 
		height: 2px; 
		background: #43403E; 
		box-shadow: 0px 1px 0px #ffffff;
}



